<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>权限组操作</title>
    <link rel="stylesheet" href="/static/admin/layui/css/layui.css" media="all">
    <script src="/static/admin/jquery/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <form action="" class="layui-form">
        <input type="hidden" value="{$data.id}" name="id">
        <div class="layui-form-item">
            <label class="layui-form-label">权限组名称</label>
            <div class="layui-input-inline">
                <input type="text" name="title" required  lay-verify="required" autocomplete="off" class="layui-input" value="{$data.title}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-inline">
                <input type="radio" name="status" value="1" lay-verify="required" autocomplete="off" title="启用" {if $data.status=1}checked{/if}>
                <input type="radio" name="status" value="0" lay-verify="required" autocomplete="off" title="禁用" {if $data.status=0}checked{/if}>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <button class="layui-btn" lay-submit lay-filter="formDemo" style="display: none" id="formDemo">立即提交</button>
            </div>
        </div>
    </form>
</div>
<script src="/static/admin/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript">
    layui.use('form', function(){
        var form = layui.form;

    });
</script>
</body>
</html>
